<div class="navbar navbar-inverse navbar-fixed-bottom" style="background: {% load staticfiles %} {% static "images/trencadis-bar.png" %} ">
  <div class="navbar-inner">
    <div class="container-fluid">
      <div class="row-fluid">
          <div class="span6 pull-left">
            <div class="footer-content">
                <small>
                  <font color="#333">@ 2106</font>
                  <a href="http://www.regara.com/">Relieves Egara</a>
                </small>
            </div>
          </div>
        <div class="span6 pull-right">
          <div class="pull-right footer-icons">
            <small>
              <small><font color="#333">Xarxes socials</font></small>
                <a href=""><img src="{% load staticfiles %} {% static "images/twitter.png" %}"></img></a>
                <a href="https://www.linkedin.com/company/relieves-egara-s-l-"><img src="{% load staticfiles %} {% static "images/linkedin.png" %}"></img></a>
            </small>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
