{% extends 'datacubes/base.html' %}

    {% block title %}Login{% endblock title %}

    {% block content %}
     <div class="row">
         <div class="col-md-8 col-sm-12">
             {% block main-content %}{% endblock %}
	    <div class="page-header">
                <h2>Login</h2>
            </div>
            {% if mensaje %}
                <div class="alert alert-danger">
                    {{ mensaje }}
                </div>
            {% endif %}

            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <label class="control-label" for="username">Nom Usuari</label>
                    <input type="text" id="username" name="username" class="form-control" value="{{ username }}">
                </div>
                <div class="form-group">
                    <label for="password">Contrasenya</label>
                    <input type="password" name="password" id="password" class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
         </div>
     </div>
    {% endblock content %}
